In [2]:
import pandas as pd
%matplotlib

Using matplotlib backend: MacOSX

In [3]:
df = pd.concat(map(pd.read_csv, ['downloaded_data/2019-05.csv', 'downloaded_data/2019-06.csv','downloaded_data/2019-07.csv']))
df.columns=['node', 'cosit', 'timestamp', 'period', 'seconds', 'count']
df.index = pd.to_datetime(df['timestamp'])
df.drop('timestamp', axis=1, inplace=True)

df.head()

In [5]:
df2 = df[df.cosit=='9800WG6CCW1R'].between_time('07:00', '09:00')

In [22]:
def percentile(n):
    def percentile_(x):
        return x.quantile(n)
    percentile_.__name__ = 'percentile_{:2.0f}'.format(n*100)
    return percentile_

In [30]:
grouped = df2[df2.index.dayofweek < 5].resample('D').agg({'seconds': [min,  percentile(0.25), 'median',  percentile(0.75), max]})
#grouped.columns = ["_".join(x) for x in grouped.columns.ravel()]
grouped.columns = grouped.columns.droplevel(level=0)
grouped.head()

              min  percentile_25  median  percentile_75    max
timestamp
2019-05-01  115.0          188.0   221.0          392.0  486.0
2019-05-02  125.0          178.0   223.0          292.0  387.0
2019-05-03  133.0          169.0   216.0          266.0  328.0
2019-05-04    NaN            NaN     NaN            NaN    NaN
2019-05-05    NaN            NaN     NaN            NaN    NaN