In [1]:
import pandas as pd
%matplotlib

Using matplotlib backend: MacOSX

In [3]:
df = pd.concat(map(pd.read_csv, ['downloaded_data/2019-05.csv', 'downloaded_data/2019-06.csv','downloaded_data/2019-07.csv']))
df.columns=['node', 'cosit', 'timestamp', 'period', 'seconds', 'count']
df.index = pd.to_datetime(df['timestamp'])
#df.drop('timestamp', axis=1, inplace=True)

In [9]:
df.dtypes

node                 object
cosit                object
timestamp            object
period                int64
seconds               int64
count               float64
d            datetime64[ns]
dtype: object

In [8]:
df['d'] = pd.to_datetime(df['timestamp'])

In [17]:
df.index = df.index.normalize()

In [18]:
df.head()

,node,cosit,timestamp,period,seconds,count,d
timestamp,,,,,,,
2019-05-01,CAMBRIDGE_JTMS,9800WBETRSU3,2019-05-01 00:00:00,900,123,3.0,2019-05-01 00:00:00
2019-05-01,CAMBRIDGE_JTMS,9800WBETRSU3,2019-05-01 00:15:00,900,94,1.0,2019-05-01 00:15:00
2019-05-01,CAMBRIDGE_JTMS,9800WBETRSU3,2019-05-01 00:30:00,900,457,1.0,2019-05-01 00:30:00
2019-05-01,CAMBRIDGE_JTMS,9800WBETRSU3,2019-05-01 00:45:00,900,120,2.0,2019-05-01 00:45:00
2019-05-01,CAMBRIDGE_JTMS,9800WBETRSU3,2019-05-01 01:00:00,900,123,1.0,2019-05-01 01:00:00